<template>
    <div>
        <p><strong>Teaching model</strong></p>

        <teaching @changemodel="changeModel"></teaching>

        <p><strong>Model</strong></p>

        <label class="btn-like">
            <i> Open file.. </i>
            <input type="file" @change="onModelFileChange" hidden/>
        </label>

        <template v-if="model">
            <label class="btn-like">
                <i> Save to file.. </i>
                <button @click="saveModelToFile" hidden></button>
            </label>
            <br>
            Quadratic deviation: <strong> {{model.quadDeviation|toFixed}} </strong>
        </template>

        <template v-if="model">
            <p><strong>Using model</strong></p>
            <using v-bind:model="model"></using>
        </template>
    </div>
</template>

<script>
  import FileSaver from 'file-saver';

  import Teaching from './teaching';
  import Using from './using';

  export default {
    data() {
      return {
        mode: 'teaching',
        model: null,
      };
    },
    components: {
      Teaching,
      Using,
    },
    filters: {
      toFixed(value, precision = 2) {
        return value.toFixed(precision);
      },
    },
    methods: {
      changeModel(model) {
        this.model = model;
      },
      onModelFileChange({target}) {
        let file = target.files[0];

        if (!file) {
          target.value = '';
          return;
        }
        if (file.size > 1024 ** 2 * 256) {
          target.value = '';
          alert('File is too big!');
          return;
        }

        let reader = new FileReader();
        reader.onload = ({target: {result: fileAsString}}) => {
          this.model = JSON.parse(fileAsString);
        };
        reader.readAsBinaryString(file);
      },
      saveModelToFile() {
        if (!this.model) {
          return;
        }
        let blob = new Blob([JSON.stringify(this.model)], {type: 'application/javascript;charset=utf-8'});
        FileSaver.saveAs(blob, 'model.json');
      },
    },
  };
</script>

<style lang="css">
    .btn-like {
        cursor: pointer;
    }
</style>