<template>
    <div>
        <div class="gui-section">
            <label>
                Polinom:
                <input type="text" :size="defaultPolinom.length" :placeholder="defaultPolinom" v-model="polinom">
            </label>
        </div>

        <div class="gui-section">
            <label>
                Selection rows count:
                <input type="number" min="1" :placeholder="defaultSelectionCount" v-model="selectionCount">
            </label>
        </div>

        <div class="gui-section">
            <label>
                New selection row size:
                <input type="number" min="1" :placeholder="defaultSelectionLength"
                       v-model="selectionLength">
            </label>
        </div>

        <xlsx-input @change="changeSample"></xlsx-input>

        <div class="gui-section">
            <button @click="submit">Submit</button>
        </div>
    </div>
</template>

<script>
  import axios from 'axios';

  import xlsxInput from '../../xlsx-input';
  import api from '../../api';

  export default {
    data() {
      return {
        defaultPolinom: 'a1+a2*x1+a3*x2+a4*x1*x2+a5*x1^2+a6*x2^2',
        polinom: '',
        defaultSelectionCount: 2,
        selectionCount: null,
        defaultSelectionLength: 6,
        selectionLength: null,
        lazySample: null,
        cancelApiRequest: null,
      };
    },
    components: {
      xlsxInput,
    },
    filters: {
      toFixed(value, precision = 2) {
        return value.toFixed(precision);
      },
    },
    methods: {
      changeSample(lazySample) {
        this.lazySample = lazySample;
      },
      submit() {
        if (this.cancelApiRequest) {
          alert('Calculating last submit');
          return;
        }
        let payload = {};
        payload.data = this.lazySample.selected.
            map(dataRow => dataRow.
                map(item => parseFloat(item)));
        payload.polinom = this.polinom.length > 0 ? this.polinom : this.defaultPolinom;
        payload.selectionCount = this.selectionCount ? this.selectionCount : this.defaultSelectionCount;
        payload.selectionLength = this.selectionLength ? this.selectionLength : this.defaultSelectionLength;

        let config = {
          cancelToken: axios.CancelToken(f => this.cancelApiRequest = f),
        };

        api.post('/gmdh/teaching', payload, config).
            then(({data}) => {
              this.cancelApiRequest = null;
              this.$emit('changemodel', data);
            }).
            catch(error => {
              this.cancelApiRequest = null;
              if (axios.isCancel(error)) {
                return;
              }
              console.log(error);
            });
      },
    },
  };
</script>