<template>
    <div>
        <xlsx-input @change="changeSample"></xlsx-input>

        <div class="gui-section">
            <button @click="submit">Submit</button>
        </div>

        <template v-if="predictions">
            Predictions:
            <table>
                <tr v-for="(predictionRow,i) in predictions">
                    <td>{{i + 1}}</td>
                    <td v-for="prediction in predictionRow">
                        {{prediction|toFixed(2)}}
                    </td>
                </tr>
            </table>
        </template>
    </div>
</template>

<script>
  import axios from 'axios';

  import xlsxInput from '../../xlsx-input';
  import api from '../../api';

  export default {
    props: ['model'],
    data() {
      return {
        lazySample: null,
        cancelApiRequest: null,
        predictions: null,
      };
    },
    components: {
      xlsxInput,
    },
    filters: {
      toFixed(value, precision = 2) {
        return value.toFixed(precision);
      },
    },
    methods: {
      changeSample(lazySample) {
        this.lazySample = lazySample;
      },
      submit() {
        if (this.cancelApiRequest) {
          alert('Calculating last submit');
          return;
        }
        let payload = {};
        payload.data = this.lazySample.selected.
            map(dataRow => dataRow.
                map(item => parseFloat(item)));
        payload.model = this.model;

        let config = {
          cancelToken: axios.CancelToken(f => this.cancelApiRequest = f),
        };

        api.post('/gmdh/using', payload, config).
            then(({data}) => {
              this.cancelApiRequest = null;
              this.predictions = data.predictions;
            }).
            catch(error => {
              this.cancelApiRequest = null;
              if (axios.isCancel(error)) {
                return;
              }
              console.log(error);
            });
      },
    },
  };
</script>

<style lang="css">
    table {
        margin-top: 4px;
        border-collapse: collapse;
    }

    td {
        padding: 3px 9px;
        border: 1px solid lightgray;
    }
</style>