<template>
    <div id="app">
        <p><strong>Method</strong></p>

        <div class="gui-section">
            <div v-for="method in saMethods">
                <label>
                    <input type="radio" :value="method" v-model="pickedMethod"/>
                    {{method.title}}
                </label>
            </div>
        </div>

        <component :is="pickedMethod.component"></component>
    </div>
</template>

<script>
  import GMDH from './methods/gmdh/gmdh.vue';

  const saMethods = [
    {
      title: 'Group method of data handling',
      component: GMDH,
    },
  ];

  export default {
    data() {
      return {
        saMethods,
        pickedMethod: saMethods[0],
      };
    },
    components: {
      GMDH,
    },
  };
</script>

<style lang="css">
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
    }

    .gui-section {
        margin: 7px;
    }

    table {
        border-collapse: collapse;
    }

    td {
        padding: 3px 9px;
        border: 1px solid lightgray;
    }
</style>