<template>
    <div class="xlsx-input">
        <div class="gui-section">
            <label>
                Data:
                <input type="file" @change="onDataFileChange">
            </label>
        </div>

        <template v-if="sample">
            <div class="gui-section">
                <label>
                    Range:
                    <input type="text" :value="sampleRef" @change="sampleRef=$event.target.value.toUpperCase()">
                </label>
            </div>

            <div class="gui-section">
                <label>
                    Data preview:
                    <input type="checkbox" v-model="isSampleShown">
                </label>
            </div>

            <table class="gui-section" v-if="isSampleShown">
                <tr>
                    <td></td>
                    <td v-for="i in sample[0].length">
                        {{i-1|toColHeader}}
                    </td>
                </tr>
                <tr v-for="(row,i) in sample">
                    <td>{{i + 1}}</td>
                    <td v-for="cell in row">
                        {{cell}}
                    </td>
                </tr>
            </table>
        </template>
    </div>
</template>

<script>
  import * as XLSX from 'xlsx';

  export default {
    data() {
      return {
        sample: null,
        sampleRef: null,
        isSampleShown: false,
      };
    },
    watch: {
      sampleRef(ref) {
        let sample = this.sample;
        let selected;

        function resolveSelected() {
          let sampleRange = XLSX.utils.decode_range(ref);
          return selected = sample.
              slice(sampleRange.s.r, sampleRange.e.r + 1).
              map(row => row.
                  slice(sampleRange.s.c, sampleRange.e.c + 1));
        }

        this.$emit('change', {
          whole: sample,
          get selected() {
            return selected !== undefined ? selected : resolveSelected();
          },
        });
      },
    },
    filters: {
      toColHeader(value) {
        return XLSX.utils.encode_col(value);
      },
    },
    methods: {
      onDataFileChange({target}) {
        let file = target.files[0];

        if (!file) {
          return;
        }
        if (file.size > 1024 ** 2 * 100) {
          target.value = '';
          alert('File is too big!');
          return;
        }

        let reader = new FileReader();
        reader.onload = ({target: {result: fileAsString}}) => {
          let workbook = XLSX.read(fileAsString, {type: 'binary'});
          let sheet = workbook.Sheets[workbook.SheetNames[0]];
          this.sample = XLSX.utils.sheet_to_json(sheet, {header: 1});
          this.sampleRef = sheet['!ref'];
        };
        reader.readAsBinaryString(file);
      },
    },
  };
</script>

<style lang="css">
    .xlsx-input .gui-section {
        margin: 7px;
    }

    .xlsx-input table {
        border-collapse: collapse;
    }

    .xlsx-input td {
        padding: 3px 9px;
        border: 1px solid lightgray;
    }
</style>